*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #e1f4f8;
}

#homeScreenTitle{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.flex-parent {
    display: flex;
}
  
.jc-center {
    justify-content: center;
}

button{
    display: inline-block;
    background-color: #007bff;
    padding: 20px;
    width: 200px;
    color: #ffffff;  
    text-align: center;
    border: 4px double #cccccc; /*Rounding borders and increase text size*/
    border-radius: 10px;
    font-size: 28px;
    cursor: pointer; /*Adds Pointer Effect with a Margin of 5px*/
    margin: 5px;
    -webkit-transition: all 0.5s; /*Adds transition effect to create a pleasant change of color*/
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

button:hover{
    background-color: #008080;
}

/*CSS for Resume Submission Page*/
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    min-height: 88vh;
    /* background: linear-gradient(282deg, #009dff 0%, #54bdff); */
}

.box{
    max-width: 500px;
    background: #ffffff;
    padding: 30px;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.box-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 20px;
}

.uploadLabel{
    width: 100%;
    min-height: 100px;
    background: #18a7ff0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #18a7ff82;
    cursor: pointer;
}

.uploadLabel span{
    font-size: 70px;
    color: #18a7ff;
}

.uploadLabel p{
    color: #18a7ff;
    font-size: 20px;
    font-weight: 800;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.uploaded{
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: #a5a5a5;
}

.showFilebox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 15px;
    box-shadow: #0000000d 0px 0px 0px 1px,
    #d1d5db3d 0px 0px 0px 1px inset;
}

.showFilebox .left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.fileType{
    background: #18a7ff;
    color: #ffffff;
    padding: 5px 15px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.left h3{
    font-weight: 600;
    font-size: 18px;
    color:#292F42;
    margin: 0;
}

.right span{
    background: #18a7ff;
    color: #ffffff;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}



